body {
  overflow: hidden;
}
.relative {
  position: relative;
}
.fill {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.fill.absolute {
  position: absolute;
}
.fill.relative {
  position: relative;
}
.top-30 {
  top: 30px;
}
.top-40 {
  top: 40px;
}
.top-50 {
  top: 50px;
}
.scrolling {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.indent {
  display: inline-block;
  width: 15px;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table.fixed {
  table-layout: fixed;
}
.objectStart {
  background-color: #ecf6ff;
}
