body {
	overflow: hidden;
}

.scrolling {
	overflow: auto;
	position: absolute;
	top: 20px;
	left: 0;
	bottom: 0;
	right: 0;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}